extends templates/_default

block content
  script(src="/assets/js/all.js")
  .container#container
    img.image#frame-piece-1(src="/assets/images/frame-1.webp" alt="")
    img.image#frame-piece-2(src="/assets/images/frame-2.webp" alt="")
    img.image#frame-piece-3(src="/assets/images/frame-3.webp" alt="")
    img.image#frame-piece-4(src="/assets/images/frame-4.webp" alt="")
    img.image#time-date(src="/assets/images/timeDate.webp" alt="")
    img.image#tusa-title(src="/assets/images/shxmxnXokidoki.webp" alt="")
    .tusa-text#tusa-text
      .tusa-text-inner
        .information
          .information-inner-one
            h1 Бар на Флаконе
            .time-date
              h2 03.06 — 20:00
              h2 Вход свободный
          .information-inner-two
            h1 Большая Новодмитровская
            h1 дом 36
          .information-inner-tree
            p Oki Doki Rec. и shxmxn — молодые экспериментальные лейблы, начавшие свою деятельность в 2021 году.
            p За первый год творческого пути каждый из лейблов создал свою неповторимую эстетику, собрал вокруг себя вовлеченное коммьюнити и выпустил первые релизы. Являясь друзьями в жизни и коллегами в студии, резиденты лейблов отпразднуют день рождения своих сообществ на общей вечеринке в «Баре» на Флаконе.
            p Ивент проложит путь от ностальгических битов и рефлексивного речитатива до мощной электроники и экспериментальных звуковых полотен. Одна сцена объединит разные методы и жанры во имя дружбы, музыки и наступившего лета.
        .donation-btn
        .artist-list
        //-   a(href="#")
        //-     h3 ONODERA 
        //-   a(href="#")
        //-     h3 ONODERA
        //-   a(href="#")
        //-     h3 ONODERA
        //-   a(href="#")
        //-     h3 ONODERA
        //-   a(href="#")
        //-     h3 ONODERA
        //-   a(href="#")
        //-     h3 ONODERA
