extends templates/_default

block content
  script(src="/assets/js/all.js")
  .container#container
    //- img.image#frame-piece-1(src="/assets/images/1plan.webp" alt="")
    //- img.image#frame-piece-2(src="/assets/images/2plan.webp" alt="")
    //- img.image#frame-piece-3(src="/assets/images/3plan.webp" alt="")
    //- img.image#frame-piece-4(src="/assets/images/4plan.webp" alt="")
    //- img.image#time-date(src="/assets/images/timeDate.webp" alt="")
    //- img.image#tusa-title(src="/assets/images/shxmxnXokidoki.webp" alt="")
    .tusa-text#tusa-text
      .tusa-text-inner
        .information
          .information-inner-one
            h1 Бар на Флаконе
            .time-date
              h3 03.06 — 20:00
              h3 Вход свободный
          .information-inner-two
            h1 Большая Новодмитровская
            h1 дом 36
          .information-inner-tree
            p#section-one Oki Doki Rec. и shxmxn — молодые экспериментальные лейблы, начавшие свою деятельность в 2021 году.
            p#section-two За первый год творческого пути каждый из лейблов создал свою неповторимую эстетику, собрал вокруг себя вовлеченное коммьюнити и выпустил первые релизы. Являясь друзьями в жизни и коллегами в студии, резиденты лейблов отпразднуют день рождения своих сообществ на общей вечеринке в «Баре» на Флаконе.
            p#section-tree Ивент проложит путь от ностальгических битов и рефлексивного речитатива до мощной электроники и экспериментальных звуковых полотен. Одна сцена объединит разные методы и жанры во имя дружбы, музыки и наступившего лета.
        .donation-area
          a(href='#')
            .donation-area-btn
              h2 Donation
              
        .artist-list
          a(href='#')
            h2 mishxn
          a(href='#')
            h2 маркони
          a(href='#')
            h2 мц плацкарт
          a(href='#')
            h2 ONODERA
          a(href='#')
            h2 Убиваю Насекомых
          a(href='#')
            h2 DJ MA GILLA
        
          
          
          
          
          