@import '../_includes'
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&display=swap')

h2

h3

h4

h5

h6

body
  display: flex
  justify-content: center
  align-items: center
  // padding:
  // flex-direction: column
  // justify-content: center
  // align-items: center
  // text-align: center
  // transition: background-color .3s linear

.container
  height: 100vh
  width: calc(100vh * 1.08)
  overflow: hidden
  display: grid
  grid-template: 100%/100%
  flex-direction: column
  transition: background-color .3s linear

.image
  place-self: center
  max-height: 100%
  grid-area: 1 / 1 / 1 / 1

.tusa-text
  place-self: center
  grid-area: 1 / 1 / 1 / 1
  z-index: 0
  width: calc(60vh * 1.5412)
  height: 80vh
  margin-top: 11%
  background-color: #CCCCCC
  border-radius: 10%
  overflow: hidden
  &-inner
    display: grid
    grid-template: 8fr 2fr / 8fr 2fr
    width: 100%
    height: 100%
    padding: 9.79% 5%
    .information
      display: grid
      grid-template: 1fr 1fr 68% / 100%
      overflow: hidden
      // background-color: green
      grid-area: 1 / 1 / 1 / 1
      white-space: nowrap
      h1
        font-family: 'Jost', sans-serif
        font-style: normal
        font-weight: 400
        font-size: calc(80vh*0.0642)
        line-height: calc(80vh*0.0671)
      h2
        font-family: 'Jost', sans-serif
        font-style: normal
        font-weight: 400
        font-size: calc(80vh*0.0196)
        line-height: calc(80vh*0.0283)
      &-inner-one
        display: flex
        justify-content: space-between
        grid-area: 1 / 1 / 1 / 1
        .time-date
          align-self: center
          display: flex
          flex-direction: column
      &-inner-two
        grid-area: 2 / 1 / 2 / 1
      &-inner-tree
        grid-area: 3 / 1 / 3 / 1
        p
          font-family: 'Inter', sans-serif
          font-style: normal
          font-weight: 200
          font-size: calc(80vh*0.0147)
          line-height: calc(80vh*0.0176)

    .donation-btn
      // background-color: blue
      grid-area: 1 / 2 / 1 / 2
    .artist-list
      // background-color: orange
      grid-area: 2 / 1 / 2 / 3

#frame-piece-1
  max-height: 100%
  z-index: 10
#frame-piece-2
  max-height: 100%
  z-index: 20
#frame-piece-3
  max-height: 100%
  z-index: 30
#frame-piece-4
  max-height: 100%
  z-index: 40
#time-date
  z-index: 50
#tusa-title
  z-index: 60
